html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: inherit;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
body{
  @extend %roboto-light;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}
.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-small{
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px;
}
.video__play{
  position: absolute;
  left: -40px;
}
.video-play__text{
  transform: rotate(-90deg);
  position: absolute;
  left: -50px;
  bottom: 25px;
  width: 72px;
  @extend %roboto-bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pagination{
  position: absolute;
  right: 95px;
  transform: translateX(50%);
  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &::before,
  &::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 332px;
    background-color: #4940f9;
    left: 50%;
  }
  &::before{
    top: -340px;
    transform: translateX(-100%);
  }
  &::after{
    top: 150px;
    transform: translateX(-50%);
  }
  &__list-item{
    & + & {
      margin-top: 15px;
    }
  }
  &__list-link{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3a30f8;
  }
  & .pagination__list-item__active .pagination__list-link{
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #4940f9;
  }
}
.descr{
  font-size: 20px;
  line-height: 25px;
  color: #3a30f8;
  @extend %roboto-bold;
  text-transform: uppercase;
}
.title{
  @extend %rubik-mono;
  font-size: 40px;
  letter-spacing: .8px;
  line-height: 44px;
  margin: 0;
}
.options{
  display: flex;
  &__list-item__top{
    @extend %rubik-mono;
    color: #3a30f8;
    font-size: 60px;
    line-height: 62px;
    letter-spacing: -.7px;
    white-space: nowrap;
  }
  &__list-item__top-span{
    font-size: 24px;
    line-height: 26px;
  }
  &__list-item__name{
    font-size: 16px;
    line-height: 20px;
    color: #666666;
  }
}
.blocks__inner{
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
}
.benefits__video{
  position: absolute;
  &::before,
  &::after{
    position: absolute;
    content: "";
  }
  &::before{
    background-color: rgba(#fff, .8);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &::after{
    background-image: url('../images/video-play__center-obj.svg');
    width: 40px;
    height: 44px;
    left: 50%;
    top: 50%;
    transform: translateX(calc(-50% + 5px)) translateY(-50%);
  }
}