@media screen and (max-width: 800px) {
  .wow{
    animation-name: none !important;
    visibility: visible !important;
  }
}
@media(max-width: 1830px) {
  .modes::after {
    left: 550px;
  }
  .characteristics__bg {
    left: -90px;
  }
}
@media (max-width: 1800px) {
  .header__bottom-textarea::after {
    right: 310px;
    top: -50px;
  }
  .design__textarea {
    transform: translateX(80px);
  }
  .color-choice {
    padding-top: 700px;
    flex-direction: initial;
    align-items: center;
  }
  .tabs-wrapper{
    order: 1;
  }
  .color-choice__list{
    flex-direction: column;
    margin: 30px 0 40px;
  }
  .color-choice__link + .color-choice__link {
    margin-left: 0;
    margin-top: 32px;
  }
  .color-choice__link.tab--active::before {
    transform: translateX(-50%) rotate(90deg);
    left: -32px;
    top: -13px;
  }
  .color-choice__textarea::before {
    transform: rotate(270deg);
    left: 140px;
    top: 5px;
  }
  .indicators__textarea::before {
    top: 165px;
  }
}
@media(max-width: 1780px){
  .modes__textarea {
    max-width: 315px;
  }
  .modes::after {
    left: 505px;
  }
  .modes__video {
    width: 60%;
  }
}
@media(max-width: 1700px){
  .header__bottom-textarea {
    margin-top: 250px;
  }
  .header__bottom-textarea::after {
    right: 400px;
    top: -80px;
  }
  .characteristics__background-text{
    span{
      margin-left: 350px;
    }
  }
  .characteristics__background-text {
    font-size: 152px;
    line-height: 157px;
  }
}
@media(max-width: 1650px) {
  .header__bottom-textarea__title {
    font-size: 70px;
    line-height: 80px;
  }
  .benefits__background-text {
    font-size: 160px;

    span {
      margin-left: 320px;
    }
  }
  .modes::after {
    left: 455px;
  }
  .characteristics__textarea-blocks {
    margin: 600px auto 0;
    align-items: center;
  }
  .characteristics__textarea-blocks__item:first-child .characteristics__textarea-blocks__item-img,
  .characteristics__textarea-blocks__item:nth-child(2) .characteristics__textarea-blocks__item-img ,
  .characteristics__textarea-blocks__item:nth-child(3) .characteristics__textarea-blocks__item-img ,
  .characteristics__textarea-blocks__item:nth-child(4) .characteristics__textarea-blocks__item-img {
    left: 0;
    top: -45px;
  }
  .characteristics__textarea-top{
    max-width:500px;
    float: right;
  }
  .characteristics__textarea {
    padding-top: 300px;
  }
  .characteristics__descr {
    margin-bottom: 80px;
  }
  .characteristics__background-text {
    font-size: 130px;
    line-height: 136px;
  }
}
@media(max-width: 1560px){
  .benefits__background-text {
    font-size: 135px;
    right: -50px;
    line-height: 145px;
    top: 50px;
  }
  .characteristics__background-text {
    font-size: 120px;
    line-height: 126px;
    span {
      margin-left: 290px;
    }
  }
  .catalog__entrance {
    background-position: center left;
  }
  .catalog__entrance-inner {
    flex-direction: column;
    align-items: center;
  }
  .catalog__entrance-cover{
    order: -1;
    margin: -60px auto 0;
  }
  .catalog__entrance-textarea {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
  .catalog__entrance-textarea__paragraphs{
    display: flex;
    justify-content: space-between;
  }
  .catalog__entrance-textarea__paragraph{
    max-width: 400px;
  }
  .catalog__entrance-textarea__paragraph + .catalog__entrance-textarea__paragraph {
    margin-top: 20px;
  }
  .catalog__entrance-textarea__title,
  .catalog__entrance-textarea__paragraphs{
    text-align: left;
  }
  .catalog__entrance-textarea__link {
    margin: 50px 0 100px;
  }
  .catalog__entrance-textarea__title {
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .catalog__entrance-textarea {
    margin-top: 40px;
  }
}
@media(max-width: 1520px){
  .header__bottom-textarea__descr {
    font-size: 18px;
    line-height: 24px;
  }
  .header__video {
    width: 60%;
  }
  .header__video-img__wrapper{
    width: 100%;
  }
  .design__textarea {
    transform: translateX(130px);
  }
  .benefits__video {
    overflow: hidden;
  }
  .modes::after {
    left: 405px;
  }
}
@media(max-width: 1450px) {
  .benefits__background-text {
    position: absolute;
    right: -35px;
    top: 30px;
    span {
      margin-left: 285px;
    }
  }
}
@media(max-width: 1400px) {
  .benefits__background-text {
    font-size: 120px;
    line-height: 130px;
  }
  .modes__video {
    width: 65%;
  }
  .modes::after {
    display: none;
  }
}
@media(max-width: 1380px){
  .pagination {
    transform: translateX(50%) translateY(-70px);
    right: 60px;
  }
  .pagination::before, .pagination::after {
    height: 280px;
  }
  .pagination::before {
    top: -290px;
  }
  .title {
    font-size: 38px;
    line-height: 42px;
  }
}
@media(max-width: 1320px) {
  .design__video {
    width: 55%;
  }
  .blocks__inner {
    padding-right: 0;
  }
  .blocks__inner {
    flex-direction: column;
  }
  .accumulator,
  .electronic{
    max-width: 100%;
  }
  .accumulator__inner{
    display: flex;
    justify-content: center;
  }
  .accumulator__textarea {
    padding-left: 40px;
  }
  .electronic{
    margin-top: 90px;
  }
  .electronic__inner{
    display: flex;
    flex-direction: column;
  }
  .electronic__video{
    position: relative;
    order: -1;
    margin: 0 auto;
    height: 277px;
  }
  .electronic__video-img{
    width: 578px;
  }
  .electronic__textarea{
    margin-top: 55px;
    display: flex;
    justify-content: center;
  }
  .electronic__textarea-textfields{
    max-width: 700px;
  }
  .electronic__textarea-items{
    margin-left: 110px;
  }
  .accumulator::after {
    transform: rotate(90deg);
  }
  .accumulator::after {
    right: 65%;
    top: 180px;
  }
  .electronic__textarea-item + .electronic__textarea-item{
    margin-left: 20px;
  }
  .characteristics__textarea-top {
    max-width: 420px;
  }
}
@media(max-width: 1300px){
  .pagination::before, .pagination::after {
    height: 200px;
  }
  .pagination::before {
    top: -210px;
  }
  .pagination {
    transform: translateX(50%) translateY(-40px);
  }
  .color-choice {
    padding-top: 850px;
    float: none;
  }
  .indicators {
    padding: 120px 0 100px;
  }
  .indicators__textarea::before {
    top: 10px;
  }
}
@media(max-width: 1280px){
  .benefits {
    position: relative;
    padding-bottom: 170px;
  }
  .accumulator__textarea {
    width: 600px;
  }
}
@media(max-width: 1250px){
  .header {
    background-position: left -70px top 70px;
  }
  .benefits__background-text {
    font-size: 112px;
    line-height: 118px;
  }
}
@media(max-width: 1230px){
  .footer {
    padding: 1px 0;
  }
}
@media(max-width: 1200px) {
  .options__list-item__top {
    font-size: 54px;
    line-height: 56px;
  }
  .options__list-item__top-span {
    font-size: 22px;
    line-height: 24px;
  }
  .options__list-item__name {
    font-size: 14px;
    line-height: 18px;
  }
  .modes__components {
    margin-top: 15px;
  }
  .benefits__textarea-list__item::before {
    width: 25px;
  }
  .catalog__entrance-cover__bg-title {
    font-size: 174px;
    line-height: 178px;
  }
  .catalog__entrance-cover__bg-title {
    left: 20px;
  }
  .catalog__entrance-cover {
    max-width: 95%;
  }
  .catalog__entrance-textarea__title {
    font-size: 18px;
    line-height: 22px;
  }
}
@media(max-width: 1150px) {
  .descr {
    font-size: 18px;
    line-height: 23px;
  }
  .benefits__background-text {
    font-size: 90px;
    line-height: 100px;
    top: -20px;
    span {
      margin-left: 235px;
    }
  }
  .title {
    font-size: 34px;
    line-height: 38px;
  }
  .electronic__textarea-items{
    display: block;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .electronic__textarea-item{
    & + & {
      margin-top: 50px;
      margin-left: 0;
    }
  }
  .characteristics__textarea-top {
    max-width: 370px;
  }
  .catalog__entrance-textarea__link {
    font-size: 14px;
    line-height: 18px;
  }
}
@media(max-width: 1100px){
  .header__bottom-textarea__title {
    font-size: 68px;
    line-height: 78px;
  }
  .header__bottom-textarea__descr {
    font-size: 16px;
    line-height: 22px;
  }
  .header {
    background-position: left -160px top 70px;
  }
  .color-choice__textarea {
    max-width: 200px;
    margin-right: 35px;
    &::before {
      top: 20px;
    }
  }
  .indicators__textarea::before {
    top: 80px;
  }
  .indicators__video .video__play {
    top: 150px;
  }
  .indicators__textarea {
    max-width: 100%;
    padding: 0;
  }
  .catalog__entrance-textarea {
    max-width: 780px;
  }
  .catalog__entrance-textarea__paragraph {
    max-width: 330px;
  }
  .catalog__entrance-cover {
    height: 700px;
  }
  .catalog__entrance-textarea__link {
    margin: 40px 0 100px;
  }
  .catalog__entrance-cover__bg-title {
    font-size: 167px;
    line-height: 171px;
  }
}
@media(max-width: 1090px){
  .characteristics__bg {
    left: -135px;
  }
  .characteristics__textarea-blocks__item {
    margin-bottom: 50px;
  }
  .characteristics {
    padding-bottom: 190px;
  }
}
@media(max-width: 1070px){
  .accumulator__top-options {
    margin: -110px 0 0 105px;
  }
  .accumulator__textarea {
    width: 490px;
  }
  .accumulator::after {
    right: 59%;
    top: 187px;
  }
  .catalog__entrance-cover__bg-title span {
    transform: translateX(calc(50% + 60px));
  }
}
@media(max-width: 1050px) {
  .electronic__textarea-textfields {
    max-width: 600px;
  }
}
@media(max-width: 1040px){
  .characteristics__textarea {
    padding-top: 10px;
  }
  .characteristics__bg {
    left: 0;
  }
  .characteristics__textarea-top{
    float: none;
    margin: 75px 0 0 450px;
  }
  .characteristics__textarea-blocks {
    margin: 120px auto 0;
    padding: 0 85px;
  }
}
@media(max-width: 1000px) {
  .design__text{
    margin-top: 35px;
  }
  .title {
    font-size: 30px;
    line-height: 34px;
  }
  .wow.color-choice__link{
    animation-name: none !important;
    visibility: visible !important;
  }
  .indicators__video-wrapper{
    width: 93%;
  }
  .options__list-item__top {
    font-size: 48px;
    line-height: 50px;
  }
  .options__list-item__top-span {
    font-size: 20px;
    line-height: 22px;
  }
  .modes__textarea {
    padding-left: 70px;
  }
  .modes__video {
    width: 60%;
  }
  .accumulator__top-options {
    margin: -95px 0 0 105px;
  }
  .characteristics__textarea-blocks {
    margin: 170px auto 0;
  }
  .characteristics__textarea-top {
    max-width: 330px;
  }
  .catalog__entrance-cover{
    height: 100%;
  }
  .catalog__entrance-cover__img{
    margin-bottom: -5px;
  }
  .catalog__entrance-cover__bg-title {
    font-size: 162px;
    line-height: 166px;
    bottom: -45px;
    span {
      transform: translateX(calc(50% + 130px));
    }
  }
  .catalog__entrance-textarea {
    max-width: 740px;
  }
  .characteristics {
    padding-bottom: 140px;
  }
}
@media(max-width: 980px){
  .accumulator__textarea {
    width: 420px;
  }
  .accumulator::after {
    display: none;
  }
}
@media(max-width: 960px){
  .indicators{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .indicators__textarea {
    max-width: 750px;
  }
  .indicators__video-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .indicators__textarea::before {
    top: 25px;
  }
  .indicators__video .video__play {
    left: 10px;
  }
  .modes__components-item + .modes__components-item {
    margin-left: 50px;
  }
  .catalog__entrance-textarea__title {
    font-size: 16px;
    line-height: 20px;
  }
}
@media(max-width: 950px) {
  .header__bottom-textarea {
    margin-top: 215px;
  }
  .pagination {
    right: 50px;
  }
  .pagination .pagination__list-item .pagination__list-link__active {
    width: 14px;
    height: 14px;
  }
  .pagination::before, .pagination::after {
    height: 170px;
  }
  .video-play__object{
    width: 40px;
    height: 44px;
  }
  .header__video .video__play {
    top: 80px;
  }
  .video__play {
    left: -15px;
  }
  .video-play__text {
    font-size: 10px;
    line-height: 14px;
    left: -55px;
  }
  body {
    font-size: 16px;
    line-height: 22px;
  }
  .design__textarea {
    transform: translateX(120px);
  }
  .benefits__background-text{
    display: none;
  }
  .design__text{
    max-width: 220px;
  }
  .indicators__textarea {
    margin-bottom: 35px;
  }
  .indicators__video .video__play {
    left: 27px;
  }
  .indicators__textarea::before {
    height: 330px;
    left: -40px;
    top: 6px;
  }
  .modes__video .video__play {
    bottom: 50px;
    left: -15px;
  }
  .electronic__textarea-textfields {
    max-width: 450px;
  }
  .catalog__entrance-textarea__title {
    margin-bottom: 30px;
  }
}
@media(max-width: 910px){
  .modes__components {
    margin-top: 5px;
  }
  .modes__components-item + .modes__components-item {
    margin-left: 40px;
  }
  .electronic__textarea-textfields .title{
    margin-bottom: 30px;
  }
}
@media(max-width: 890px){
  .indicators__textarea::before {
    display: none;
  }
  .indicators__textarea {
    max-width: 665px;
  }
  .indicators__video-wrapper {
    width: 80%;
  }
  .indicators__video .video__play {
    left: 67px;
  }
  .benefits {
    padding-bottom: 160px;
  }
}
@media(max-width: 880px){
  .pagination::before, .pagination::after{
    display: none;
  }
  .header {
    background-position: left -200px top 70px;
  }
  .header__bottom-textarea__title {
    font-size: 66px;
    line-height: 76px;
  }
  .header__bottom-textarea__descr {
    font-size: 14px;
    line-height: 20px;
  }
  .menu__list-item {
    font-size: 12px;
    line-height: 14px;
  }
  .pagination{
    display: none;
  }
  .title {
    font-size: 26px;
    line-height: 30px;
  }
  .descr {
    font-size: 16px;
    line-height: 21px;
  }
  .benefits__textarea-list__item + .benefits__textarea-list__item {
    margin-top: 25px;
  }
  .benefits__textarea-descr {
    margin-bottom: 80px;
  }
  .options__list-item__top {
    font-size: 44px;
    line-height: 46px;
  }
  .modes__components-item__name{
    margin-top: -40px;
  }
  .modes__textarea {
    padding-left: 50px;
  }
  .accumulator__components-item__name {
    margin-top: -40px;
  }
  .accumulator__top-options {
    margin: -95px 0 0 45px;
  }
  .characteristics__textarea-blocks {
    margin: 180px auto 0;
  }
  .characteristics__textarea-top {
    max-width: 295px;
  }
  .catalog__entrance-textarea {
    max-width: 645px;
  }
  .catalog__entrance-textarea__paragraph {
    max-width: 300px;
  }
  .catalog__entrance-textarea__link {
    margin: 30px 0 100px;
  }
  .catalog__entrance-cover__bg-title {
    font-size: 153px;
    line-height: 157px;
  }
  .catalog__entrance-textarea__title {
    font-size: 14px;
    line-height: 18px;
  }
}
@media(max-width: 850px) {
  .design__textarea {
    max-width: 250px;
  }
  .design__textarea {
    transform: translateX(110px);
  }
  .color-choice__list {
    padding: 0 0 0 30px;
  }
  .color-choice__textarea::before{
    display: none;
  }
  .indicators__video-img{
    margin-left: -40px;
  }
  .characteristics__textarea-blocks {
    padding: 0 60px;
  }
  .characteristics__textarea-blocks__item {
    max-width: 310px;
  }
}
@media(max-width: 820px){
  .header__bottom-textarea::after {
    right: 430px;
  }
  .color-choice__textarea {
    margin-right: 10px;
    margin-left: 35px;
  }
  .indicators__textarea {
    max-width: 600px;
  }
  .indicators__video-img{
    margin-left: -50px;
  }
  .indicators__video .video__play {
    top: 190px;
  }
  .options__list-item__top-span {
    font-size: 18px;
    line-height: 20px;
  }
  .modes__video-img{
    margin-left: -120px;
  }
  .modes__video {
    width: 52%;
  }
  .accumulator__textarea {
    width: 400px;
  }
  .electronic__textarea-textfields {
    max-width: 380px;
  }
  .electronic__textarea-items {
    margin-top: 20px;
  }
  .electronic__textarea-items {
    margin-top: -5px;
  }
}
@media(max-width: 800px){
  .accumulator__textarea {
    width: 385px;
  }
  .accumulator__textarea-paragraph{
    margin-top: 30px;
  }
  .benefits {
    padding-bottom: 140px;
  }
  .catalog__entrance-cover__bg-title {
    font-size: 148px;
    line-height: 152px;
  }
}
@media(max-width: 780px){
  .header{
    background-image: none;
  }
  .header__video {
    width: 64%;
  }
  .header__bottom-textarea__title {
    font-size: 64px;
    line-height: 74px;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }
  .indicators__video-img{
    margin-left: -70px;
  }
  .benefits__textarea-list__item::before {
    width: 20px;
  }
  .options__list-item__top {
    font-size: 40px;
    line-height: 42px;
  }
  .electronic__textarea-textfields {
    max-width: 280px;
  }
  .electronic__textarea{
    margin-left: -90px;
  }
  .characteristics__textarea-top {
    max-width: 270px;
  }
}
@media(max-width: 720px) {
  .benefits__textarea-descr {
    margin-bottom: 70px;
  }
  .design__textarea {
    left: 45%;
  }
}
@media(max-width: 660px){
  .design__video{
    display: none;
  }
  .header{
    padding-bottom: 160px;
  }
  .design__textarea{
    position: static;
    transform: translateX(0);
  }
}
@media(max-width: 650px){
  .menu__list-item + .menu__list-item {
    margin-left: 40px;
  }
  .header{
    background-image: none;
  }
  .header__video {
    width: 100%;
  }
  .header__bottom-textarea::after,
  .video__play{
    display: none;
  }
  .header__bottom-arrowdown{
    display: none;
  }
  .header__bottom-textarea__title {
    font-size: 54px;
    line-height: 64px;
  }
  .header__bottom-textarea {
    max-width: 440px;
    color: #fff;
  }
  .header__bottom-textarea__descr {
    letter-spacing: 1.8px;
  }
  .benefits {
    padding-top: 170px;
  }
  .benefits__textarea-descr {
    margin-bottom: 60px;
  }
}
@media(max-width: 600px){
  .header__bottom-textarea {
    margin-top: 230px;
  }
  .header__bottom-textarea__title {
    font-size: 46px;
    line-height: 56px;
  }
}
@media (max-width: 580px) {
  .menu__list-item + .menu__list-item {
    margin-left: 20px;
  }
}
@media(max-width: 540px) {
  .menu__btn{
    display: block;
    width: 30px;
    height: 21px;
    position: absolute;
    top: 39px;
    right: 20px;
    cursor: pointer;
    div{
      width: 100%;
      height: 4px;
      background-color: #000000;
    }
    div:nth-child(2){
      position: relative;
      &::before,
      &::after{
        position: absolute;
        content: "";
        width: 28px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #999999;
      }
      &::before{
        top: -1px;
      }
      &::after{
        bottom: -1px;
      }
    }
    div + div {
      margin-top: 5px;
    }
  }
  .menu__list{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 75px;
    right: 50%;
    top: 98px;
    text-align: center;
    z-index: 5;
    transform: translateX(50%);
    background-color: rgba(#fff, .5);
    width: 100%;
  }
  .menu__list-item{
    border-bottom: 1px solid #3a30f8;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 0;
    margin-top: 40px;
  }
  .header__bottom-textarea__title {
    font-size: 38px;
    line-height: 48px;
  }
  .header__bottom-textarea {
    max-width: 320px;
    margin-top: 250px;
  }
  .header__bottom-textarea__descr {
    margin-top: 20px;
  }
  .benefits {
    padding-top: 190px;
  }
}
@media(max-width: 520px){
  .design__textarea{
    margin: 0 auto;
  }
  .benefits__textarea-descr,
  .benefits .title{
    text-align: center;
  }
  .benefits__textarea-list__item {
    padding-left: 38px;
    &::before {
      width: 30px;
    }
  }
}
@media(max-width: 500px){
  .header__bottom-textarea__title {
    font-size: 34px;
    line-height: 44px;
  }
  .benefits {
    padding-top: 200px;
  }
}
@media(max-width: 420px){
  .header__bottom-textarea__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media(max-width: 400px) {
  .header__bottom-textarea__descr {
    font-size: 12px;
    line-height: 18px;
  }
  .benefits {
    padding-top: 206px;
  }
}
@media(min-width: 541px) {
  .menu__list {
    display: inline-block !important;
  }
}