@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*start header*/
.header{
  background-image: url('../images/first-screen__bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top 70px;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 259px;
  &__top{
    padding: 29px 0;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__video{
    position: absolute;
    right: 0;
    top: 100px;
    .video__play{
      top: 72px;
    }
  }
  &__bottom-textarea{
    margin-top: 200px;
    position: relative;
    z-index: 5;
    max-width: 660px;
    &::after{
      position: absolute;
      content: "";
      background-image: url('../images/line__first-screen.png');
      width: 18px;
      height: 72px;
      right: 262px;
      top: -48px;
      animation-name: LineAppear;
      animation-fill-mode: forwards;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
  }
  &__bottom-textarea__title{
    margin: 0;
    @extend %rubik-mono;
    font-size: 80px;
    line-height: 90px;
  }
  &__bottom-textarea__descr{
    @extend %roboto-bold;
    font-size: 20px;
    line-height: 26px;
    max-width: 325px;
  }
  &__bottom-arrowdown{
    margin: 30px 0 0 30px;
  }
}
.menu{
  &__btn{
    display: none;
  }
  &__list-item{
    display: inline-block;
    text-transform: uppercase;
    @extend %roboto-bold;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .8px;
    color: #000;
    & + & {
      margin-left: 70px;
    }
    &::before{
      position: absolute;
      content: "";
      width: 20px;
      height: 1px;
      background-color: #3a30f8;
      left: -9px;
      bottom: -3px;
      opacity: 0;
    }
    &:hover::before{
      animation: runRight 1s;
      animation-fill-mode: forwards;
      transition: opacity ease-in-out .3s;
      opacity: 1;
    }
  }
}
/*end header*/

/*start benefits*/
.benefits{
  position: relative;
  padding-bottom: 310px;
  &__textarea-descr{
    margin-bottom: 90px;
  }
  &__textarea-list__item{
    padding-left: 45px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 30px;
      height: 5px;
      background-color: #000;
      left: 0;
      top: 11px;
    }
    & + & {
      margin-top: 30px;
    }
  }
  &__background-text{
    position: absolute;
    right: -35px;
    top: 100px;
    transform: rotate(-90deg);
    @extend %rubik-mono;
    font-size: 173px;
    line-height: 180px;
    color: #f8f8f8;
    letter-spacing: 8px;
    span{
      display: block;
      margin-left: 375px;
      letter-spacing: -25px;
    }
  }
  &__text{
    span{
      @extend %roboto-bold;
    }
  }
  .pagination{
    right: 103px;
    top: 335px;
  }
}
/*end benefits*/

/*start design*/
.design{
  &__textarea{
    position: absolute;
    max-width: 300px;
    left: 50%;
    transform: translateX(calc(-50% + 25px));
    top: 90px;
  }
  &__text{
    margin-top: 25px;
  }
  &__list{
    margin-top: 25px;
  }
}
/*end design*/

/*start color-choice*/
.color-choice {
  float: right;
  padding-top: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  &__textarea {
    max-width: 270px;
    float: right;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/line__color-choice.png');
      width: 18px;
      height: 290px;
      left: -50px;
      top: 20px;
      animation-name: LineAppear;
      animation-fill-mode: forwards;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
  }
  &__text{
    margin-top: 27px;
  }
  &__list {
    margin: 50px 0 30px;
    max-width: 270px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 10;
  }
  &__link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &.tab--active {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-image: url('../images/line__color-choice__img.png');
        width: 3px;
        height: 48px;
        left: 50%;
        transform: translateX(-50%);
        top: 29px;
        animation-name: LineAppear;
        animation-fill-mode: forwards;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
      }
    }
    & + & {
      margin-left: 33px;
    }
  }

  &__link:first-child {
    background-color: #e2e837;
  }
  &__link:nth-child(2) {
    background-color: #00b6f1;
  }
  &__link:nth-child(3) {
    background-color: #e23232;
  }
  &__link:nth-child(4) {
    background-color: #f0efef;
  }
  &__link:nth-child(5) {
    background-color: #0c0c0c;
  }
  &__model {
    display: none;
    &.tabs-content--active {
      display: block;
    }
  }
}
/*end color-choice*/

/*start indicators*/
.indicators{
  padding: 850px 0 150px;
  &__textarea{
    max-width: 500px;
    padding: 0 30px;
    margin-bottom: 50px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/line__indicators.png');
      width: 37px;
      height: 362px;
      top: 20px;
      left: -50px;
      animation-name: LineAppear;
      animation-fill-mode: forwards;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
  }
  &__text{
    margin-top: 30px;
  }
  &__video{
    position: relative;
    .video__play{
      top: 70px;
      left: -30px;
    }
  }
}
/*end indicators*/

/*start modes*/
.modes{
  padding-bottom: 360px;
  position: relative;
  &::after{
    position: absolute;
    content: "";
    background-image: url('../images/line__mode.png');
    width: 156px;
    height: 474px;
    left: 33%;
    top: 107px;
    transform: translateX(-5px);
    animation-name: LineAppear;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
  &__video{
    float: right;
    position: relative;
    .video__play{
      bottom: 75px;
      left: -30px;
    }
  }
  &__textarea{
    padding-top: 90px;
    max-width: 370px;
  }
  &__text{
    margin-top: 27px;
  }
  &__list{
    margin-top: 30px;
  }
  &__components{
    margin-top: 30px;
  }
  &__components-item{
    & + & {
      margin-left: 70px;
    }
  }
  &__components-item__name{
    margin-top: -50px;
  }
}
/*end modes*/

/*start accumulator*/
.accumulator{
  max-width: 510px;
  position: relative;
  &::after{
    position: absolute;
    content: "";
    background-image: url('../images/line__accumulator.png');
    width: 86px;
    height: 256px;
    right: 70px;
    top: 155px;
    animation-name: LineAppear;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
  &__textarea{
    margin-top: 50px;
  }
  &__components-item__name{
    margin-top: -55px;
  }
  &__components-item{
    & + & {
      margin-left: 45px;
    }
  }
  &__top-options{
    margin: -130px 0 0 105px;
  }
}
/*end accumulator*/

/*start electronic*/
.electronic{
  max-width: 430px;
  &__textarea-items{
    max-width: 300px;
    margin: 50px 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__textarea-item{
    max-width: 100px;
  }
  &__textarea-item__title{
    color: #666666;
    font-size: 16px;
    line-height: 20px;
  }
}
/*end electronic*/

/*start characteristics*/
.characteristics{
  position: relative;
  padding-bottom: 260px;
  &__bg{
    position: absolute;
  }
  &__textarea-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 60px 0 500px;
  }
  &__textarea{
    padding-top: 80px;
  }
  &__descr{
    margin-bottom: 65px;
  }
  &__textarea-blocks__item{
    max-width: 280px;
    position: relative;
    &:nth-child(2n){
      max-width: 250px;
    }
    &:first-child .characteristics__textarea-blocks__item-img{
      left: -60px;
      top: 8px;
    }
    &:nth-child(2) .characteristics__textarea-blocks__item-img{
      left: -50px;
      top: 5px;
    }
    &:nth-child(3) .characteristics__textarea-blocks__item-img{
      left: -50px;
      top: 16px;
    }
    &:nth-child(4) .characteristics__textarea-blocks__item-img{
      left: -44px;
      top: 2px;
    }
    &:nth-child(3),
    &:nth-child(4){
      margin-top: 20px;
    }
  }
  &__textarea-blocks__item-img{
    position: absolute;
    z-index: -1;
  }
  &__textarea-blocks__title{
    text-transform: uppercase;
  }
  &__textarea-blocks__paragraph{
    margin-top: -26px;
    span{
      @extend %roboto-bold;
    }
  }
  &__background-text{
    top: 50px;
  }
}
/*end characteristics*/

/*start catalog__entrance*/
.catalog__entrance{
  background-image: url('../images/catalog__entrance-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  &-inner{
    display: flex;
    justify-content: flex-end;
  }
  &-cover{
    box-shadow: 0 8px 14px rgba(0,0,1,.2);
    margin: -60px 0 100px;
    height: 750px;
    position: relative;
    overflow: hidden;
  }
  &-cover__bg-title{
    position: absolute;
    font-size: 186px;
    line-height: 190px;
    @extend %rubik-mono;
    color: rgba(#fff, .5);
    left: -25px;
    bottom: -55px;
    margin: 0;
    span{
      float: right;
      margin-right: 50%;
      margin-bottom: -8px;
      transform: translateX(calc(50% + 30px));
      letter-spacing: -50px;
    }
  }
  &-textarea{
    max-width: 370px;
    padding-right: 30px;
    margin-top: 70px;
  }
  &-textarea__title{
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 20px;
    letter-spacing: .8px;
  }
  &-textarea__paragraph{
    span{
      @extend %roboto-bold;
    }
    & + & {
      margin-top: 30px;
    }
  }
  &-textarea__link{
    margin-top: 80px;
    font-size: 16px;
    line-height: 20px;
    @extend %roboto-bold;
    color: #3a30f8;
    text-transform: uppercase;
    background-color: #fff;
    padding: 14px 45px 13px;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0,0,1,.2);
    transition: all .3s;
    &:hover{
      color: #f0efef;
      background-color: #00b6f1;
    }
  }
}
/*end catalog__entrance*/

/*end footer*/
.footer{
  background-color: #282828;
  padding: 6px 0;
  text-align: center;
  &__copy{
    @extend %roboto-light;
    font-size: 12px;
    line-height: 15px;
    color: #605f5f;
  }
}
/*end footer*/

@keyframes runRight {
  0%{
    width: 20px;
  }
  100%{
    width: calc(100% + 18px);
  }
}
@keyframes LineAppear {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 20%;
  }
  40%{
    opacity: 40%;
  }
  60%{
    opacity: 60%;
  }
  80%{
    opacity: 80%;
  }
  100%{
    opacity: 100%;
  }
}
@import "media";
