@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*start header*/
.header{
  background-image: url('../images/first-screen__bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top 70px;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 259px;
  &__top{
    padding: 29px 0;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__video{
    position: absolute;
    right: 0;
    top: 100px;
    .video__play{
      top: 72px;
    }
  }
  &__bottom-textarea{
    margin-top: 200px;
    position: relative;
    z-index: 5;
    max-width: 660px;
    &::after{
      position: absolute;
      content: "";
      background-image: url('../images/line__first-screen.png');
      width: 18px;
      height: 72px;
      right: 262px;
      top: -48px;
    }
  }
  &__bottom-textarea__title{
    margin: 0;
    @extend %rubik-mono;
    font-size: 80px;
    line-height: 90px;
  }
  &__bottom-textarea__descr{
    @extend %roboto-bold;
    font-size: 20px;
    line-height: 26px;
    max-width: 325px;
  }
  &__bottom-arrowdown{
    margin: 30px 0 0 30px;
  }
  & .pagination{
    top: 50%;
    transform: translateY(-110px);
  }
}
.menu{
  &__list-item{
    display: inline-block;
    text-transform: uppercase;
    @extend %roboto-bold;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .8px;
    color: #000;
    & + & {
      margin-left: 70px;
    }
    &::before{
      position: absolute;
      content: "";
      width: 20px;
      height: 1px;
      background-color: #3a30f8;
      left: -9px;
      bottom: -3px;
      opacity: 0;
    }
    &:hover::before{
      animation: runRight 1s;
      animation-fill-mode: forwards;
      transition: opacity ease-in-out .3s;
      opacity: 1;
    }
  }
}
/*end header*/

/*start benefits*/
.benefits{
  background-image: url('../images/first-screen__bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left 36%;
  position: relative;
  &__textarea-descr{
    margin-bottom: 70px;
  }
  &__textarea-list__item{
    padding-left: 45px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 30px;
      height: 5px;
      background-color: #000;
      left: 0;
      top: 11px;
    }
    & + & {
      margin-top: 30px;
    }
  }
  &__background-text{
    position: absolute;
    right: -30px;
    top: 100px;
    transform: rotate(-90deg);
    @extend %rubik-mono;
    font-size: 173px;
    line-height: 180px;
    color: #f8f8f8;
    span{
      display: block;
      margin-left: 300px;
    }
  }
  &__text{
    span{
      @extend %roboto-bold;
    }
  }
  .pagination{
    right: 103px;
    top: 335px;
  }
}
/*end benefits*/

/*start design*/
.design{
  &__video{
    position: absolute;
    &::before,
    &::after{
      position: absolute;
      content: "";
    }
    &::before{
      background-color: rgba(#fff, .8);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &::after{
      background-image: url('../images/video-play__center-obj.svg');
      width: 40px;
      height: 44px;
      left: 50%;
      top: 50%;
      transform: translateX(calc(-50% + 5px)) translateY(-50%);
    }
  }
  &__textarea{
    position: absolute;
    max-width: 300px;
    left: 50%;
    transform: translateX(calc(-50% + 25px));
    top: 90px;
  }
  &__text{
    margin-top: -10px;
  }
  &__list{
    margin-top: 25px;
  }
}
/*end design*/

/*start color-choice*/
.color-choice {
  float: right;
  padding-top: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  &__textarea {
    max-width: 270px;
    float: right;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/line__color-choice.png');
      width: 18px;
      height: 290px;
      left: -50px;
      top: 60px;
    }
  }
  &__list {
    margin: 50px 0 30px;
    max-width: 270px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  &__link {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &.tab--active {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-image: url('../images/line__color-choice__img.png');
        width: 3px;
        height: 48px;
        left: 50%;
        transform: translateX(-50%);
        top: 29px;
      }
    }
    & + & {
      margin-left: 33px;
    }
  }

  &__link:first-child {
    background-color: #e2e837;
  }
  &__link:nth-child(2) {
    background-color: #00b6f1;
  }
  &__link:nth-child(3) {
    background-color: #e23232;
  }
  &__link:nth-child(4) {
    background-color: #f0efef;
  }
  &__link:nth-child(5) {
    background-color: #0c0c0c;
  }
  &__model {
    display: none;
    &.tabs-content--active {
      display: block;
    }
  }
}
/*end color-choice*/

/*start indicators*/
.indicators{
  padding: 850px 0 150px;
  &__textarea{
    max-width: 500px;
    padding: 0 30px;
    margin-bottom: 50px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/line__indicators.png');
      width: 37px;
      height: 362px;
      top: 20px;
      left: -50px;
    }
  }
  &__video{
    position: relative;
    .video__play{
      top: 70px;
      left: -30px;
    }
  }
}
/*end indicators*/

/*start modes*/
.modes{
  padding-bottom: 400px;
  position: relative;
  &::after{
    position: absolute;
    content: "";
    background-image: url('../images/line__mode.png');
    width: 156px;
    height: 474px;
    left: 33%;
    top: 107px;
    transform: translateX(-5px);
  }
  &__video{
    float: right;
    position: relative;
    .video__play{
      bottom: 75px;
      left: -30px;
    }
  }
  &__textarea{
    padding-top: 50px;
    max-width: 370px;
  }
  &__list{
    margin-top: 30px;
  }
  &__components{
    margin-top: 30px;
  }
  &__components-item{
    & + & {
      margin-left: 70px;
    }
  }
  &__components-item__name{
    margin-top: -50px;
  }
}
/*end modes*/



@keyframes runRight {
  0%{
    width: 20px;
  }
  100%{
    width: calc(100% + 18px);
  }
}
@import "media";
